<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="javascript/vendor/jqueryconsole.js" ></script>
<link rel="stylesheet" href="stylesheets/jqueryconsole.css">

<script type="text/javascript">
    var terminal;

    $(document).ready(function(){
        jQuery(function($, undefined) {
            terminal = $('#term_demo').terminal(function(command, term) {
                if (command !== '') {
                    try {
                        socket.send(command);
                    } catch(e) {
                        term.error(new String(e));
                    }
                } else {
                    term.echo('');
                }
            }, {
                greetings: 'This really needs a better name',
                name: 'POC:JS_Console',
                height: 400,
                scrollable: true,
                prompt: 'shanks > '});
        });
    });
</script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
    var socket = io.connect('http://localhost:31337');

    socket.on('msfnode', function(message){
            terminal.echo(message);
    });
</script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="term_demo"></div>

