<table>
    <tr>
        <th>IP Address</th>
        <th>MAC Address</th>
        <th>Name</th>
        <th>Services</th>
    </tr>
    {{#each hostslist}}
        <tr>
            <td>{{address}}</td>
            <td>{{mac}}</td>
            <td>{{name}}</td>
            <td>service</td>
        </tr>
    {{/each}}
</table>