<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{title}}</title>
        <script type="text/javascript" src="javascript/vendor/jquery.js"></script>
        <script type="text/javascript" src="javascript/foundation.min.js"></script>
        <script type="text/javascript" src="javascript/vendor/modernizr.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/foundation.css"/>
        <script type="text/javascript" src="javascript/vendor/jqueryconsole.js" ></script>
        <link rel="stylesheet" href="stylesheets/jqueryconsole.css">
        <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script type="text/javascript" src="javascript/vendor/sigma.min.js"></script>
        <script type="text/javascript" src="javascript/vendor/plugins/sigma.parsers.json.min.js"></script>
        <script type="text/javascript" src="javascript/vendor/plugins/sigma.plugins.dragNodes.min.js"></script>
        <script type="text/javascript" src="javascript/foundation/foundation.accordion.js"></script>
    </head>
    <body>
    <div id="container">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="#">{{title}}</a>
                    </h1>
                </li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="active"><a href="#">Analysis</a></li>
                    <li class=""><a href="#">Exploitation</a></li>
                    <li class=""><a href="#">Sessions</a></li>
                    <li class=""><a href="#">Modules</a></li>
                    <li class=""><a href="#">Tasks</a></li>
                </ul>
            </section>
        </nav>
        <div class="row fullrow">
            <div class="" style="height: 410px;">
                <div style="height:100%; background-color: #555555" class="large-3 columns nopad">
                    <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation smallaccordion">
                            <a href="#panel1b">Accordion 1</a>
                            <div id="panel1b" class="content active">
                                Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </dd>
                        <dd class="accordion-navigation smallaccordion">
                            <a href="#panel2b">Accordion 2</a>
                            <div id="panel2b" class="content">
                                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </dd>
                        <dd class="accordion-navigation smallaccordion">
                            <a href="#panel3b">Accordion 3</a>
                            <div id="panel3b" class="content">
                                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </dd>
                    </dl>
                </div>
                <div id="graphContainer" style="height:100%;" class="large-9 columns">
                </div>
            </div>
        </div>
        <div class="fixed-bottom">
            <div class="" style="height: 215px;">
                <div id="term_demo"></div>
            </div>
        </div>
    </div>
    </body>

    <script>
        var jsondata = {
            nodes: [
                {
                    id: "n0",
                    label: "target 2",
                    x: 0,
                    y: 0,
                    size: 3
                },
                {
                    id: "n1",
                    label: "localhost",
                    x: 3,
                    y: 1,
                    size: 5
                },
                {
                    id: "n2",
                    label: "target 1",
                    x: 1,
                    y: 3,
                    size: 3
                }
            ],
            edges: [
                {
                    id: "e0",
                    source: "n0",
                    target: "n1"
                },
                {
                    id: "e1",
                    source: "n1",
                    target: "n2"
                }
            ]
        }
    </script>

    <script type="text/javascript">
        var terminal;
        var socket = io.connect('http://localhost:31336');

        $(document).foundation({
            accordion: {
                // specify the class used for accordion panels
                content_class: 'content',
                // specify the class used for active (or open) accordion panels
                active_class: 'active',
                // allow multiple accordion panels to be active at the same time
                multi_expand: true,
                // allow accordion panels to be closed by clicking on their headers
                // setting to false only closes accordion panels when another is opened
                toggleable: true
            }
        });

        socket.on('msfnode', function(message){
            terminal.echo(message);
        });

        $(document).ready(function(){
            jQuery(function($, undefined) {
                terminal = $('#term_demo').terminal(function(command, term) {
                    if (command !== '') {
                        try {
                            socket.send(command);
                        } catch(e) {
                            term.error(new String(e));
                        }
                    } else {
                        term.echo('');
                    }
                }, {
                    greetings: '',
                    name: 'POC:JS_Console',
                    height: 215,
                    prompt: 'shanks > '});
            });
        });

    </script>
    <script>
        /**
         * This example shows how to use the dragNodes plugin.
         */
        var i,
                s,
                N = 100,
                E = 500,
                g = {
                    nodes: [],
                    edges: []
                };
        // Generate a random graph:
        for (i = 0; i < N; i++)
            g.nodes.push({
                id: 'n' + i,
                label: 'Node ' + i,
                x: Math.random(),
                y: Math.random(),
                size: Math.random(),
                color: '#666'
            });
        for (i = 0; i < E; i++)
            g.edges.push({
                id: 'e' + i,
                source: 'n' + (Math.random() * N | 0),
                target: 'n' + (Math.random() * N | 0),
                size: Math.random(),
                color: '#ccc'
            });
        sigma.renderers.def = sigma.renderers.canvas;

        // Instantiate sigma:
        s = new sigma({
            graph: jsondata,
            container: 'graphContainer',
            settings: {
                defaultNodeColor: '#ec5148',
                zoomingRatio: 1
            }
        });

        // Initialize the dragNodes plugin:
        var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);
        dragListener.bind('startdrag', function(event) {
            console.log(event);
        });
        dragListener.bind('drag', function(event) {
            console.log(event);
        });
        dragListener.bind('drop', function(event) {
            console.log(event);
        });
        dragListener.bind('dragend', function(event) {
            console.log(event);
        });
    </script>
</html>