<table>
    <tr>
        <th>Host address</th>
        <th>Service Name</th>
        <th>Protocol</th>
        <th>Port</th>
    </tr>
    {{#each servicelist}}
        <tr>
            <td>{{address}}</td>
            <td>{{name}}</td>
            <td>{{proto}}</td>
            <td>{{port}}</td>
        </tr>
    {{/each}}
</table>