body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.fullrow{
  max-width: 100%;
}

.nopad{
  padding-left: 0;
  padding-right: 0;
}

.smallaccordion{
  line-height: 0.2;
}

